<!DOCTYPE html>
<html ng-app="webapp">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title><%=title%></title>
		<script type="text/javascript">
			//<![CDATA[
			try {
				if(!window.CloudFlare) {
					var CloudFlare = [{
						verbose: 0,
						p: 1419364062,
						byc: 0,
						owlid: "cf",
						bag2: 1,
						mirage2: 0,
						oracle: 0,
						paths: {
							cloudflare: "/cdn-cgi/nexp/dok2v=1613a3a185/"
						},
						atok: "1fca8a26fb9678bbb4b5c54c34e227b9",
						petok: "f96edf5400cb46af9f10cd7e284feff5c8cd9290-1420554013-1800",
						zone: "adbee.technology",
						rocket: "0",
						apps: {
							"ga_key": {
								"ua": "UA-49262924-2",
								"ga_bs": "2"
							}
						}
					}];
					! function(a, b) {
						a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/dok2v=919620257c/cloudflare.min.js", b.parentNode.insertBefore(a, b)
					}()
				}
			} catch(e) {};
			//]]>
		</script>
		<link rel="stylesheet" type="text/css" href="/admin/css/bootstrap/bootstrap.min.css" />

		<script src="js/demo-rtl.js"></script>

		<link rel="stylesheet" type="text/css" href="/admin/css/libs/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="/admin/css/libs/nanoscroller.css" />

		<link rel="stylesheet" type="text/css" href="/admin/css/compiled/theme_styles.css" />
		
		<!--分页-->
		<link rel="stylesheet" type="text/css" href="/stylesheets/page.css" />
		
		<!--自己的样式-->
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
		<link rel="stylesheet" type="text/css" href="/lib/AngularJS-Toaster/toaster.css"/>
		
		<link type="image/x-icon" href="/admin/img/favicon.png" rel="shortcut icon" />
<!--
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>-->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
	
		<style type="text/css">
			
		</style>
		<script type="text/javascript">
			/* <![CDATA[ */
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-49262924-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();

			(function(b) {
				(function(a) {
					"__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a)
				})(function() {
					"FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function(a) {
						_gaq.push(["_trackSocial", "facebook", "like", a])
					}), FB.Event.subscribe("edge.remove", function(a) {
						_gaq.push(["_trackSocial", "facebook", "unlike", a])
					}), FB.Event.subscribe("message.send", function(a) {
						_gaq.push(["_trackSocial", "facebook", "send", a])
					}));
					"twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function(a) {
						if(a) {
							var b;
							if(a.target && a.target.nodeName == "IFRAME") a: {
								if(a = a.target.src) {
									a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);
									b = 0;
									for(var c; c = a[b]; ++b)
										if(c.indexOf("url") === 0) {
											b = unescape(c.split("=")[1]);
											break a
										}
								}
								b = void 0
							}
							_gaq.push(["_trackSocial", "twitter", "tweet", b])
						}
					})
				})
			})(window);
			/* ]]> */
		</script>
	</head>

	<body>
		
		<div id="theme-wrapper">
			<%include ../header.html%>
			
			<div id="page-wrapper" class="container">
				<div class="row">
					<%include ../left_aside.html%>
					
					<div id="content-wrapper">
						<div class="row">
							<div class="col-lg-12">
								<div class="row">
									<div class="col-lg-12">
										<ol class="breadcrumb">
											<li>
												<a href="/admin">Home</a>
											</li>
											<li class="active"><span>Article</span></li>
										</ol>
										<h1>Article</h1>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="main-box clearfix" style="min-height: 900px;">
											<br/>
											<div class="main-box-body clearfix">
												<div class="row">
													<!--操作区-->
													<div class="col-md-2">
														<ul class="list-group">
															<li class="list-group-item cur_poi" ui-sref="banner" ui-sref-active="active">首页轮播图</a></li>
															<li class="list-group-item cur_poi" ui-sref="friends" ui-sref-active="active">友情链接</li>
														</ul>
													</div>
													

													<!--模板区-->
													<div class="col-md-10"  ui-view="">
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!--底部-->
						<%include ../footer.html%>
					</div>
				</div>
			</div>
		</div>
	
	
		<!--主题设置-->
		<%include ../theme_config.html%>
		
		
		<script src="/admin/js/demo-skin-changer.js"></script>
		<script src="/admin/js/jquery.js"></script>
		<script src="/admin/js/bootstrap.js"></script>
		<script src="/admin/js/jquery.nanoscroller.min.js"></script>
		<script src="/admin/js/demo.js"></script>
		
		<!--百度编辑器-->
		<script src="/ueditor/ueditor.config.js"></script>
		<script src="/ueditor/ueditor.all.min.js"></script>
		
		<!--分页-->
		
		<script src="/admin/js/scripts.js"></script>
		<script src="/admin/js/pace.min.js"></script>

		<!--angular-->
		<script src="/lib/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/angular-animate/angular-animate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/angular-sanitize/angular-sanitize.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/lib/AngularJS-Toaster/toaster.js" type="text/javascript" charset="utf-8"></script>
		<script src="//cdn.bootcss.com/angular-ui-select/0.20.0/select.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/webapp.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/routes/settings.client.routes.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/services/settings.client.services.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/controllers/settings.client.controllers.js" type="text/javascript" charset="utf-8"></script>







		<!--me-->	
		<script type="text/javascript">
			function checkURL(URL) {
				var str = URL;
				//下面的代码中应用了转义字符"\"输出一个字符"/"
				var Expression = /http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
				var objExp = new RegExp(Expression);
				if(objExp.test(str) == true) {
					return true;
				} else {
					return false;
				}
			}
			
			console.log(checkURL("blog.baidu1.net"))
				
				
				
		</script>
	</body>

</html>