<!--<div ng-controller="settingCtrl" class="col-md-5">
	<form id="friend_form">
		<div class="form-group row">
			<div class="col-md-2">
				<label for="">标题</label>
			</div>
			<div class="col-md-10">
				<input type="text" name="title" ng-model="friend_title" class="form-control" required="required"/>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-2">
				<label for="">网址</label>
			</div>
			<div class="col-md-10">
				<input type="url" name="url" ng-model="friend_url" class="form-control" required="required"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-2 col-lg-10">
				<button type="submit" class="btn btn-info" ng-click="addfriend()">提交</button>
			</div>
		</div>
	</form>
</div>
-->
	
<div class="bg-light lter b-b wrapper-md">
   <h1 class="m-n font-thin h3">Friend</h1>
</div>
<div class="wrapper-md">
	<div ng-controller="settingCtrl">
		<div class="row">
			<div class="col-md-2">
				<ul class="list-group list-group-sp">
					<li class="list-group-item poin-ter" ui-sref="app.setting.friends.add" ui-sref-active="active">添加</li>
					<li class="list-group-item poin-ter" ui-sref="app.setting.friends.list" ui-sref-active="active">列表</li>
				</ul>
			</div>
			<div class="col-md-10"  ui-view="">
																
																
			</div>
		</div>
	</div>
</div>
