<style>
	table th,
	table td {
		text-align: center;
	}
</style>
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">文章管理</h1>
</div>
<div class="wrapper-md">
	<div class="">
		<div class="panel panel-default">
			<div class="panel-heading">
				文章列表
			</div>
			<div class="row wrapper">
				<div class="col-sm-7 m-b-xs">
					<select class="input-sm form-control inline v-middle" style="width: 60px;" ng-model="pageConfig.limit" ng-options="item for item in pageConfig.pageSizes">
					</select>
					<button class="btn btn-sm btn-default" ng-click="removeMulti()">删除</button>
					<div style="display:inline-block;margin-left: 20px;">
						<div class="radio-inline" style="padding-left: 0;">
					        <label class="i-checks">
					          	<input type="radio" ng-model="flag" ng-value="0">
					          	<i></i>
					          	全部
					        </label>
						</div>
						<div class="radio-inline" style="padding-left: 0;">
					        <label class="i-checks">
					          	<input type="radio" ng-model="flag" ng-value="1">
					          	<i></i>
					          	有效
					        </label>
						</div>
						<div class="radio-inline" style="padding-left: 0;">
					        <label class="i-checks">
					          	<input type="radio" ng-model="flag" ng-value="2">
					          	<i></i>
					          	草稿
					        </label>
						</div>
						<div class="radio-inline" style="padding-left: 0;">
					        <label class="i-checks">
					          	<input type="radio" ng-model="flag" ng-value="3">
					          	<i></i>
					          	已删除
					        </label>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" ng-model="title" class="input-sm form-control" placeholder="Search">
						<span class="input-group-btn">
							<a class="btn btn-sm btn-default" ng-click="queryByTitle()">
								<i class="fa fa-search"></i>
							</a>
			            </span>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped b-t b-light table-responsive" ng-init="timesort=true">
					<thead>
						<tr>
							<th style="width:5%;">
								<label class="i-checks m-b-none">
				                <input type="checkbox" ng-model="select_all" ng-click="selectAll(select_all)">
				                <i></i>
				            </label>
							</th>
							<th style="width: 16%;">标题</th>
							<th style="width: 16%;" ng-click="timesort=!timesort">
								发布时间
								<i ng-if="timesort" class="fa fa-sort-down"></i>
								<i ng-if="!timesort" class="fa fa-sort-up"></i>
							</th>
							<th style="width: 16%;">分类</th>
							<th style="width: 16%;">浏览量</th>
							<th style="width: 16%;">状态</th>
							<th style="width: 15%;">操作</th>
						</tr>
					</thead>
				</table>
				<div ui-jq="slimScroll" ui-options="{height:'300px', size:'5px'}">
					<table class="table table-striped b-t b-light table-responsive">
						<tbody>
							<tr ng-repeat="item in articleList | orderBy:'create_time':timesort" class="editable-tr-wrap">
								<td style="width:5%;">
									<label class="i-checks m-b-none">
										<input type="checkbox" ng-checked="select_all" ng-model="item_checked" ng-click="selectOne(item._id)">
										<i></i>
									</label>
								</td>
								<td style="width: 16%;">
									<a ng-click="edit(item);" class="text-success">{{item.title |limitTo:10}}</a>
								</td>
								<td style="width: 16%;" ng-bind="item.create_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
								<td style="width: 16%;">{{item.category.name}}</td>
								<td style="width: 16%;">{{item.pv}}</td>
								<td style="width: 16%;">
									<span ng-if="!item.isDeleted&&!item.isDraft" class="label label-success">有效</span>
									<span ng-if="item.isDraft&&!item.isDeleted" class="label label-warning">草稿</span>
									<span ng-if="item.isDeleted" class="label label-danger">已删除</span>
								</td>
								<td style="width: 15%;">
									<a href="javascript:void(0);" bbid="{{item.bId}}" ng-click="edit(item)" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a href="javascript:void(0);" bbid="{{item.bId}}" ng-click="removeOne(item._id)" class="table-link danger remove">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<footer class="panel-footer">
				<div class="row">
					<div class="col-sm-4 text-center">
						<small class="text-muted inline m-t-sm m-b-sm">showing {{StartNum}}-{{EndNum}} of {{pageConfig.totalItems}} items</small>
					</div>
					<div class="col-sm-8 text-right text-center-xs">
						<ul uib-pagination total-items="pageConfig.totalItems" 
							items-per-page="pageConfig.limit" max-size="pageConfig.maxSize" 
							boundary-links="true" rotate="true" num-pages="numPages"
							previous-text="上一页" next-text="下一页" 
							ng-model="pageConfig.currentPage" 
							ng-change="loadData()">
						</ul>
					</div>
				</div>
			</footer>
		</div>
	</div>
</div>

<!--删除对话框-->
<script type="text/ng-template" id="confirm.html">
	<div class="modal-header">
		<h3 class="modal-title">确定删除吗？</h3>
		<p>此操作不可逆</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">取消</button>
		<button class="btn btn-primary" ng-click="confirm()">确定</button>
	</div>
</script>