<style>
	table th,table td{
		text-align: center;
	}
</style>
<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">文章管理</h1>
</div>
<div class="wrapper-md">
	<div class="">
		<div class="panel panel-default">
			<div class="panel-heading">
				文章列表
			</div>
			<div class="row wrapper">
				<div class="col-sm-5 m-b-xs">
					<select class="input-sm form-control w-sm inline v-middle">
						<option value="0">Bulk action</option>
						<option value="1">Delete selected</option>
						<option value="2">Bulk edit</option>
						<option value="3">Export</option>
					</select>
					<button class="btn btn-sm btn-default" ng-click="removeMulti()">删除</button>
				</div>
				<div class="col-sm-4">
				</div>
				<div class="col-sm-3">
					<div class="input-group">
						<input type="text" class="input-sm form-control" placeholder="Search">
						<span class="input-group-btn">
							<a class="btn btn-sm btn-default" ui-sref="app.article.search">Go!</a>
			                <!--<button class="btn btn-sm btn-default" type="button">Go!</button>-->
			            </span>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-striped b-t b-light table-responsive" ng-init="timesort=true">
					<thead>
						<tr>
							<th style="width:15px;">
								<label class="i-checks m-b-none">
					                <input type="checkbox" ng-model="select_all" ng-click="selectAll(select_all)"><i></i>
					            </label>
							</th>
							<th>标题</th>
							<th ng-click="timesort=!timesort">
								发布时间
								<i ng-if="timesort" class="fa fa-sort-down"></i>
								<i ng-if="!timesort" class="fa fa-sort-up"></i>
							</th>
							<th>分类</th>
							<th>浏览量</th>
							<th ng-click="isActive=!isActive" ng-init="isActive=true">是否有效</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in articlelist | orderBy:'create_time':timesort" class="editable-tr-wrap">
							<td>
								<label class="i-checks m-b-none">
									<input type="checkbox" ng-checked="select_all" ng-model="item_checked" ng-click="selectOne(item._id)">
									<i></i>
								</label>
							</td>
							<td><a ng-click="edit(item);" class="text-success">{{item.title |limitTo:10}}</a></td>
							<td ng-bind="item.create_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
							<td>{{item.category.name}}</td>
							<td>{{item.pv}}</td>
							<td>
								<span ng-if="item.isActive" class="label label-success">有效</span>
								<span ng-if="!item.isActive" class="label label-danger">无效</span>
							</td>
							<td>
								<a href="javascript:void(0);" bbid="{{item.bId}}" ng-click="edit(item)" class="table-link">
									<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
							</span>
								</a>
								<a href="javascript:void(0);" bbid="{{item.bId}}" ng-click="removeOne(item._id)" class="table-link danger remove">
									<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
							</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<footer class="panel-footer">
				<div class="row">
					<div class="col-sm-4 text-center">
						<small class="text-muted inline m-t-sm m-b-sm">showing {{listStart}}-{{listEnd}} of {{CommonData.ArticleTotal}} items</small>
					</div>
					<div class="col-sm-8 text-right text-center-xs">
						<ul uib-pagination 
							total-items="pageConfig.totalItems" 
							items-per-page="pageConfig.limit" 
							max-size="pageConfig.maxSize" 
							boundary-links="true" 
							rotate="true" 		
							num-pages="numPages"
							previous-text="上一页" 
							next-text="下一页"
							ng-model="pageConfig.currentPage" 
							ng-change="pageChanged()"></ul>
					</div>
				</div>
			</footer>
		</div>
	</div>
</div>

<!--删除对话框-->
<script type="text/ng-template" id="confirm.html">
	<div class="modal-header">
	    <h3 class="modal-title">确定删除吗？</h3>
	    <p>此操作不可逆</p>
	</div>
	<div class="modal-footer">                  
	    <button class="btn btn-default" ng-click="cancel()">取消</button>
	    <button class="btn btn-primary" ng-click="confirm()">确定</button>
	</div>
</script>