<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">发布文章</h1>
</div>
<div class="wrapper-md">
	<div class="">
		<form name="article_form" class="clearfix form-horizontal" id="Article_form" enctype='multipart/form-data'>
			<div class="form-group">
				<label for="" class="col-sm-1 control-label">标题</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="article.title" ng-minlength="2" ng-maxlength="30" name="title" placeholder="请输入文章标题（必须）" required>
				</div>
				<div class="col-sm-3">
					<small class="help-block" ng-show="article_form.title.$invalid">
						<span class="text-danger" ng-show="article_form.title.$error.minlength">标题长度不小于2位</span>
                  		<span class="text-danger" ng-show="article_form.title.$error.maxlength">标题长度不超过30位</span>
					</small>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-1 control-label">类型</label>
				<div class="col-sm-6">
					<ui-select ng-model="article.category" theme="bootstrap" required>
						<ui-select-match placeholder="请选择文章的类型">{{$select.selected.name}}</ui-select-match>
						<ui-select-choices repeat="item._id as item in CommonData.Categorys | filter: {name: $select.search}">
							<div ng-bind-html="item.name"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-1 control-label">标签</label>
				<div class="col-sm-6">
					<ui-select multiple ng-model="article.tags" theme="bootstrap">
						<ui-select-match placeholder="请选择文章标签">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="tag._id as tag in CommonData.Tags | filter: {name: $select.search}">
							<div ng-bind-html="tag.name"></div>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-1 control-label">转载</label>
				<div class="col-sm-6">
					<input type="url" class="form-control" ng-model="article.source" name="source" placeholder="请输入转载网址">
				</div>
			</div>
			<div class="form-group">
				<label for="" class="col-sm-1 control-label">封面</label>
				<div class="col-sm-6">
					<input type="file" class="form-control" ngf-select  ngf-max-size="5MB"  ng-model="file" name="file"/>
				</div>
				<div class="col-sm-3">
					<img ngf-src="file" ngf-resize="{width: 100, quality: 0.9}" >
					<img ng-show="haveImg" ng-src="{{article.img}}" alt="" width="100"/>
				</div>
			</div>
			<div class="form-group col-md-12">
				<script id="editor" type="text/plain"></script>
			</div>
			<div class="text-right form-group col-md-12">
				<button type="button" ng-hide="isUpdate" class="btn btn-warning waves-effect waves-light" ng-disabled='article_form.$invalid' ng-click="publish('draft');">
                                                            存为草稿
	            </button>
				<button type="submit" ng-hide="isUpdate" class="btn btn-primary waves-effect waves-light" ng-click="publish()">
	                                              发表文章
	            </button>
	            <label class="i-checks m-b-none" style="margin-right:20px;" ng-show="article.isDraft||article.isDeleted">
	                <input type="checkbox" ng-model="isFormal">
	                <i></i>
	              	  标为有效
	            </label>
	            <button type="submit" ng-show="isUpdate" class="btn btn-primary" ng-click="update()">Update</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
//	if(uetrue) {
//		uetrue.destroy();
//	}
//	uetrue = UE.getEditor('editor', {
//		initialFrameHeight: 300 //高度设置
//	});
</script>