@charset "utf-8";

body{
	padding-top: 56px;
}
a{
	color: #333;
}
a:focus, a:hover {
   text-decoration: none;
}
a:hover{
	cursor: pointer;
}
i,em,b,small,strong{
	font-style: normal;
	font-weight: normal;
}
ul{
	list-style: none;
}
.loading{
	display: none;
}
.container{
	width: 960px;
}
.navbar-default {
    background-color: #fff;
    border-color: #f0f0f0;
}
nav .width-limit {
    min-width: 768px;
    max-width: 1440px;
    margin: 0 auto;
}
.navbar-default .navbar-nav a{
	font-size: 17px;
	line-height: 26px;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    color: #ea6f5a;
    background: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color:transparent; 
}

.navbar-default .navbar-toggle {
     border-color: transparent; 
}
nav .logo {
    float: left;
    height: 56px;
    padding: 14px 25px 15px 20px;
}
nav .logo img {
    width: 55px;
    height: 26px;
}
nav .sign-up {
    float: right;
    width: 80px;
    height: 38px;
    line-height: 24px;
    margin: 9px 5px 0 15px;
    border: 1px solid rgba(236,97,73,.7);
    border-radius: 4px;
    font-size: 15px;
    color: #ea6f5a;
    background-color: transparent;
}
nav .sign-in {
    float: right;
    margin: 11px 6px 0 10px;
    font-size: 15px;
}

nav .navbar-nav .search {
    padding-left: 15px;
}
nav form {
    position: relative;
    top: 9px;
    margin-bottom: 15px;
}
nav form .search-input {
	display: block;
	width: 100%;
    padding: 0 40px 0 20px;
    /*width: 160px;*/
    height: 38px;
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 40px;
    background: #eee;
    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
}
nav form .search-btn {
    position: absolute;
    top: 4px;
    right: 5px;
    width: 30px;
    height: 30px!important;
    line-height: normal!important;
    padding: 0!important;
    color: #969696!important;
    text-align: center;
    background-color: rgb(150, 150, 150);
    border-radius: 50%;
    color: rgb(255, 255, 255) !important;
    border: none;
}
nav form .search-btn .search_ic{
    /*margin:  -1px 0 0;*/
    display: block;
}

.index .main {
    padding-top: 40px;
}
.index .main .category_collection {
    margin-bottom: 20px;
}
.index .main .category_collection .collection {
    display: inline-block;
    margin: 0 18px 18px 0;
    min-height: 32px;
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    vertical-align: top;
    overflow: hidden;
}
.index .main .category_collection .collection .category_name{
	display: inline-block;
    padding: 5px 11px;
    font-size: 14px;
}
.index .main .category_collection .more-collection{
	display: inline-block;
    margin-top: 7px;
    font-size: 14px;
    color: #787878;
}

.article_list_container{
	
}

.article_list_container .article_list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.article_list li {
    position: relative;
    width: 100%;
    margin: 0 0 17px;
    padding: 0 2px 17px 0;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
}
.article_list li.have-img {
    min-height: 140px;
}
.article_list .have-img .wrap-img {
    position: absolute;
    top: 50%;
    margin-top: -68px;
    right: 0;
    width: 150px;
    height: 120px;
}
.article_list .have-img .wrap-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}
.article_list .have-img .content {
    padding-right: 160px;
}
.article_list .author {
    margin-bottom: 14px;
    font-size: 13px;
}
.article_list .author .avatar, .note-list .author .name {
    display: inline-block;
    vertical-align: middle;
}
.article_list .author .avatar {
    margin: 0 5px 0 0;
}
.article_list .author a {
    color: #333;
}
.avatar {
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
}
.article_list .title {
    margin: -7px 0 4px;
    display: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    color: #333;
}
.article_list .author .name {
    display: inline-block;
    vertical-align: middle;
}
.article_list .author a {
    color: #333;
}
.article_list .abstract {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
}
.article_list .meta {
	display: flex;
	align-items: center;
    padding-right: 0!important;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.article_list .meta a{
    color: #808080;
    margin-right: 8px;
}
.article_list .art_category {
    padding: 2px 6px;
    color: #ea6f5a!important;
    border: 1px solid rgba(236,97,73,.7);
    border-radius: 3px;
}

.load-more {
    width: 100%;
    height: 40px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    background-color: #a5a5a5;
    display: block;
}
.index .main .load-more {
    width: 100%;
    background-color: #a5a5a5;
}
/**/
.post{
	width: 750px;
	margin: 0 auto;
	padding:20px 15px 60px 15px;
	/*padding-top: 20px;
    padding-bottom: 60px;*/
}
.post .article .title {
    word-break: break-word;
    margin: 20px 0 0;
    font-family: Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
}
.post .article .art_info {
    margin: 30px 0 40px;
}
.post .article .art_info .tag {
    padding: 1px 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    border-radius: 3px;
}
.post .article .art_info .meta {
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}
.post .article .art_info .meta span {
    padding-right: 5px;
}
.post .article .article_foot{
	margin-top: 20px;
}
.post .article .article_foot a{
	color: #ea6f5a;
}


/*右侧*/
.index .aside{
	padding: 40px 0 0;
}
.index .aside .friend{
	margin-bottom: 20px;
    padding-top: 0;
    font-size: 13px;
}
.index .aside .friend .title {
    text-align: left;
    color: #969696;
}
.index .aside .friend .reload {
    float: right;
}
.index .aside .friend .page-count {
    margin: 0 10px 0 0;
    font-size: 13px;
    color: #969696;
    display: inline-block;
}
.index .aside .friend .page-change {
    font-size: 0;
    display: inline-block;
}
.index .aside .friend .page-change a {
    padding: 3px 5px;
    font-size: 12px;
    color: #969696;
    border: 1px solid #dcdcdc;
}
.index .aside .friend .page-change a:first-child {
    border-radius: 4px 0 0 4px;
    border-right: none;
}
.index .aside .friend .page-change a:last-child {
    border-radius: 0 4px 4px 0;
}

.index .aside .friend .friend_list li {
    margin-top: 15px;
}






/*评论*/
.comment-wrapper{
	margin-top: 30px;
}
.comment_form {
    /*display: table;*/
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.comment_form .form-user-avatar {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}
.comment_form .form-wordlimit {
    float: right;
    color: #909090;
}

.comment_form .form-content{
	padding-left: 60px;
	width: 100%;
}
.comment_form .form-content .comment_sign-container{
	padding: 10px 15px;
    width: 100%;
    height: 80px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;
    text-align: center;
}
.comment_form .form-content .comment_sign-container .btn-sign{
    width: 78px;
    margin: 11px 10px 0 0;
    padding: 7px 18px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff!important;
    background-color: #3194d0;
    outline: none;
}
.comment_form .form-content .comment_sign-container span {
    font-size: 14px;
    vertical-align: -7px;
}
.comment_form .form-textarea textarea{
	padding: 10px 15px;
   width: 100%;
   height: 80px;
   font-size: 13px;
   border: 1px solid #dcdcdc;
   border-radius: 4px;
   background-color: hsla(0,0%,71%,.1);
   resize: none;
   display: inline-block;
   vertical-align: top;
   outline-style: none;
}
.comment_form .form-toolbars {
    margin-top: 0;
    position: relative;
    z-index: 102;
    zoom: 1;
    padding: 0;
    background: 0;
    border: 0;
    box-shadow: none;
}
.comment_form .form-toolbars .form-action {
    float: right;
    margin-top: 8px;
}
.comment_form .form-toolbars .form-action input[type="submit"]{
  	/*width: 78px;
   margin: 10px 0;
   padding: 8px 18px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   color: #fff!important;
   background-color: #42c02e;
   cursor: pointer;
   outline: none;
   display: block;*/
  	background: url(../images/post_btn.png) no-repeat 0 0;
   width: 107px;
   height: 35px;
   border: none;
   box-shadow: none;
   color: #fff;
}
.comment_form .form-toolbars .form-action .cancel{
	margin: 18px 30px 0 0;
   font-size: 16px;
   border: none;
   background: transparent;
}
.comment_form .form-toolbars .form-action .cancel:hover {
    color: #ea6f5a;
}
.comment-area{
    /*position: relative;*/
    padding-top: 50px;
}
.comment-area .comment-tab {
    height: 48px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    /*position: absolute;
    top: 0;*/
}
/*.comment-area .comment-tab .comment-tab-left {
    float: left;
}*/
.comment-area .comment-tab li{
    height: 48px;
    padding: 0 15px;
    position: relative;
    line-height: 58px;
    font-size: 16px;
    vertical-align: middle;
   /* cursor: pointer;*/
}
.comment-area .comment-tab li.all{
	margin-left: 0;
	border-bottom: 1px solid #2fb3ff;
	color: #2fb3ff;
}
.comment-area .comment-tab li.sort a{
	margin-left: 10px;
	color: #969696;
	font-size: 12px;
}
.comment-area .comment-tab li.sort a.active{
	color: #2f2f2f;
}
.comment-item{
	padding:20px 0 15px;
	border-bottom: 1px solid #f0f0f0;
}
.comment-item .avatar{
	float: left;
	width: 50px;
	height:50px;
	background-color: #ddd;
	cursor: pointer;
	overflow: hidden;
	border-radius: 50%;
}
.comment-item .avatar img{
	width: 100%;
	height: 100%;
}
.comment-item .comment-main{
	padding-left: 56px;
}

.comment-header .username{
	font-size: 14px;
	font-weight: 700;
	color:#01a384 ;
}
.comment-header .comment-time{
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	color: #828fa0;
	margin-top: 5px;
}
.comment-body{
	margin-top: 10px;
}
.comment-body .comment-content{
	font-size: 14px;
	color:#323433 ;
	word-wrap: break-word;
}
.comment-footer{
	margin-bottom: 10px;
	line-height: 20px;
}
.comment-footer em{
	float: right;
	font-style: normal;
	font-weight: normal;
}
.comment-footer em a{
	padding: 0 5px 0 17px;
}
.comment-footer .zan{
	background: url(../images/cts.png) no-repeat 0 1px;
}
.comment-footer .pipe{
	margin: 0 5px;
    color: #CCC;
}
.comment-footer .nums {
    color: #fff;
    background: #ff690f;
    padding: 1px 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.comment-footer .reply_a{
	background: url(../images/cts.png) no-repeat 0 -20px;
}

.reply-area{
	/*padding-left: 30px;*/
}

/*返回顶部与底部*/
#backTop {
    width: 32px;
    float: right;
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 9999;
}
#backTop li a {
    background: #fff;
    font-size: 16px;
    color: #cacaca;
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    margin-top: 4px;
    display: block;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
#backTop li a .fa{
    vertical-align: middle;
}
#backTop li a:hover {
    background: #2f889a;
    color: #fff;
    border: 1px solid #2f889a;
    transition: all 0.2s ease-in 0s;
}
#backTop li a {
    color: #4cb6cb;
}
.qr .fa-qrcode {
    font-size: 20px !important;
    line-height: 32px !important;
}
.qr-img {
    position: fixed;
    background: #fff;
    bottom: 50px;
    right: 50px;
    max-width: 300px;
    padding: 10px 10px 2px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    display: none;
}
.qr:hover .qr-img {
	display: block;
}
#output img {
    position: absolute;
    top: 72px;
    right: 72px;
    width: 25px;
    height: 25px;
}



@media screen and (max-width:600px ) {
	.container{
		width: auto;
	}
	.post{
		width:100%;
		padding:20px 15px 60px 15px;
	}
	#backTop {
	    width: 40px;
	}
	#backTop li a {
	    width: 40px;
	    height: 40px;
	    line-height: 34px;
	}
	#backTop li a .fa {
	    font-size:21px;
	}
}