@charset "utf-8";
.col-l-main h2 span, .col-l-main h3 span, .col-r-extra h2 span, .col-r-extra h3 span{color: #db6d4b;}
.col-l-main h2{
	font-family: "Microsoft Yahei";
	font-size: 24px;
	font-weight: bold;
	line-height: 1.8;
	border-bottom: 2px solid #e2e2e2;
}
.col-l-main .article_list li{
	padding:27px 0 28px 0px;
	border-top: dashed 1px #e2e2e2;
}
.col-l-main .article_list li:first-child{
	border-top: none;
}
.col-l-main .article_list li h3{line-height: 1.8; height: 36px;}
.col-l-main .article_list li h3 a{color: #474747;}
.col-l-main .article_list li h3 a:hover{color: #db6d4b;}
/*æœ€æ–°æ–‡ç« åˆ—è¡¨*/
.new-txt-list h3{
	height: 36px;
	overflow: hidden;
}
.new-img-list a{
	display: block;
}
.new-img-list a img{
	 width: 278px;
	 height: 198px;
	 display: block;
	 border:1px solid #f1f1f1;
}
.new-img-list a span{
	top: 0px;
	left:0px;
	/*width: 53px;*/
	width: 65px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	background-color: #db6d4b;
	text-align: center;
}
.new-user-name{display: inline-block;}
.new-user-name img{
	width: 24px;
	height: 24px;
	border-radius: 12px;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-right: 5px;
}
.new-article-time{
	display: inline-block;
	width: 15px;
	height: 18px;
    background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -40px;
    vertical-align: middle;
}
.new-article-intro{
	height: 63px;
	color: #474747;
	line-height: 1.5;
	font-weight: 400;
	overflow: hidden;
}
.new-article-tag{
	height: 20px;
	line-height: 20px;
	color: #ababab;
}
.new-article-tag span:first-child{
	display: inline-block;
	width: 20px;
	height: 12px;
    background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -60px;
    vertical-align: middle;
}
.new-article-tag a{
	color: #ababab;
}
.new-article-tag a:hover{
	color: #db6d4b;
}

.new-article-tip{
	width: 15px;
	height: 17px;
    background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -80px;
    vertical-align: middle;
}
.new-article-review a{
	color: #909090;
}
.new-article-review a:hover{
	color: #db6d4b;
	text-decoration: underline;
}
.new-article-more{
	text-align: center;
}
.new-article-more a{
	display: inline-block;
	width: 220px;
	height: 40px;
	color: #474747;
	line-height: 40px;
	background-color: #f1f1f1;
	border-radius: 25px;
	border: 1px solid #fafafa;
}
/*æœ€æ–°æ‚å¿—*/
.new-mag{
	border-top: 2px #db6d4b solid;
	background-color: #f3f3f3;
	padding: 10px 17px 17px 17px;
}
.new-mag h2{
	font-family: "Microsoft Yahei";
	font-weight: bold;
	border-bottom: 1px #c6c6c6 solid;
	line-height: 1.8;
}
.new-mag-info>a img{
	/*width: 150px;
	 height: 204px;
	 * */
	width: 100%;
	height: auto;
	padding: 6px;
	border: 1px solid #c6c6c6;
	background-color: #fff;
}
.new-mag-intro{
	line-height: 1.5
}
.new-mag-intro h6{
	color: #5e5e5e;
}
.new-mag-intro span{
	color: #919191;
}
.new-mag-read{
	display: block;
	width: 87px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #7ec5ca;
	color: #fff;
	border-radius: 15px;
}
.new-mag-online{
	display: block;
	width: 87px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #db6d4b;
	color: #fff;
	border-radius: 15px;
}
.col-r-ad img{
	margin-top:20px;
	width: 300px;
}
.hot-article h2{
	font-weight: bold;
	line-height: 1.5;
	border-bottom: 2px #c6c6c6 solid;
}
.hot-article ul li{
	padding:12px 0;
	border-top: dashed 1px #d2d9e0;
}
.hot-article ul li:first-child{border-top: none;}
/*.hot-article img{
	width: 84px;
	height: 60px;
	margin-right:6px;
}*/
.hot-article img{
	width: 118px;
	height: 73px;
	margin-right:9px;
  	border: 1px solid #F1F1F1;
}
.hot-article h3 a{
	display: block;
	height: 42px;
	font-weight: 400;
	color: #474747;
	overflow: hidden;
}
.hot-article h3 a:hover{
	color: #db6d4b;
}
.hot-article-time{
	display: inline-block;
	font-weight: 400;
	color: #ababab;
}
.hot-article-tip{
	width: 15px;
	height: 17px;
    background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -80px;
    vertical-align: middle;
}
.hot-article-review a{
	color: #909090;
}
.hot-article-review a:hover{
	color: #db6d4b;
	text-decoration: underline;
}

.hot-rank-list h2{
	font-weight: bold;
	line-height: 1.5;
	border-bottom: 2px #c6c6c6 solid;
}
.hot-rank-list ul li{
	padding: 20px 0;
	border-top: 1px #d9dfe5 dashed;
}
.hot-rank-list ul li:first-child{
	border-top: none;
}
.hot-rank-user img{
	width: 90px;
	height: 90px;
	border-radius: 45px;
	border: 1px solid #cacaca;
}
.hot-rank-icon{
	padding:0 10px;
	line-height: 16px;
	top:73px;
	left: 49px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	background-color: #db6c4b;
	border: #fff solid 1px;
}
.hot-rank-icon span{
	display: inline-block;
	font-weight: bold;
}
.hot-rank-info a{
	display: block;
	height: 53px;
	color: #777;
	line-height: 1.5;
	overflow: hidden;
}
.hot-rank-care{
	display: inline-block;
	width: 60px;
	height: 22px;
	line-height: 22px;
	border-radius: 13px;
	background-color: #7ec5ca;
	color: #fff; 
	text-align: center;
}
.hot-rank-cared{
	display: inline-block;
	width: 60px;
	height: 22px;
	line-height: 22px;
	border-radius: 13px;
	background-color: #e2e2e2;
	color: #393939; 
	text-align: center;
}


/*æ–‡ç« é¦–é¡µæ ·å¼*/
.article-sub-nav{
	height: 30px;
	line-height: 30px;
	background-color: #f1f1f1;
}
.article-sub-nav ul li{
	float: left;
}
.article-sub-nav ul li a{
	padding:0px 18px;
	border-left: 1px solid #fff;
	border-right: 1px solid #c6c6c6;
}
.article-sub-nav ul li a:hover{
	color: #db6d4b;
}
.article-sub-nav ul li:first-child a{border-left: none;}
.article-sub-nav ul li:last-child a{border-right: none;}
.article-hot h2{
	font-weight: bold;
	line-height: 1;
	border-bottom: 2px #c6c6c6 solid;
	padding-bottom: 8px;
}
.article-hot ul li{
	padding:12px 0;
	border-top: dashed 1px #d2d9e0;
}
.article-hot ul li:first-child{border-top: none;}
.article-hot img{
  width: 118px;
  height: 73px;
  margin-right: 9px;
  border: 1px solid #F1F1F1;
}
.article-hot h3 a{
	display: block;
	height: 45px;
	font-weight: 400;
	color: #474747;
	overflow: hidden;
}
.article-hot h3 a:hover{
	color: #db6d4b;
}

.article-search-tag{
	text-align: center;
	font-size: 0;

}
.article-search-tag ul li{
	display: inline-block;
	text-align: center;
	border:1px solid #d8d8d8;
	padding: 0;
	border-radius: 5px;
	margin: 0 5px;
	font-size: 14px;
	word-spacing: 0px;
	background-color: #f5f5f5;
}
.article-search-tag ul li:hover{
	border:1px solid #fa6a2c;
	background-color: #fa6a2c;
}
.article-search-tag ul li:hover a{
	color: #fff;
}
.article-search-tag ul li:first-child{
	border:1px solid #d8d8d8;
}
.article-search-tag ul li:first-child:hover{
	border:1px solid #fa6a2c;
}
.article-search-tag ul li a{
	display: block;
	height: 32px;
	line-height: 32px;
	padding:0 15px;
	color: #303030;
}
.article-search-tag ul li a:hover{
	color: #fff;
}
.article-search-ellipsis{  
	border: 0px !important;
    background: #fff !important;
    margin: 0 !important;
}
.article-new li:first-child{padding-top:0;}
/*æ–‡ç« è¯¦æƒ…*/
.col-l-main h1{
	font-weight: normal;
	font-family: "Microsoft Yahei";
	height: 36px;
	line-height: 47px;
	overflow: hidden;
}
.article-details-crumb{
	color: #919191;
	line-height: 1;
}
.article-details-crumb span{
	margin: 0 10px;
}
.article-details-crumb span:first-child{
	margin-left: 0;
}
.article-details-crumb span a{
	color: #919191;
}

.article-details-crumb span:last-child a{
	color: #474747;
}
.article-details-user{
	float: left;
}
.article-details-user img{
	width: 24px;
	height: 24px;
	border-radius: 12px;
	vertical-align: middle;
	position: relative;
	top: -3px;
}
.article-details-user span{
	color: #474747;
}
.article-review-icon{
	display: inline-block;
	vertical-align: middle;
    background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -80px;
    width: 15px;
    height: 17px;
}
.article-iheima{
	color: #df8368;
}
.article-details-info{
	border-bottom: 1px dashed #dfe4e9;
}
.article-details-tag span{
	float: left;
	height: 22px;
	line-height: 22px;
	padding:0 10px;
	border-radius: 10px;
	background-color: #ababab;
	margin-right: 12px;
	color: #fff;
	font-weight: 400;
}
.article-details-summary{
	background-color: #f1f1f1;
	line-height: 1.5;
	padding: 20px 44px;
	color: #474747;
}
.article-details-content{
	color: #000;
	font-size: 15px;
	line-height: 1.9; 
	text-align: justify;
	padding: 30px;
}
.article-details-content img{
	margin: 26px auto;
	margin-bottom:0px;
	max-width: 600px;
}
.article-details-content p{
	margin-top: 18px;
	text-align: justify;
	text-indent: 2em;
}
.article-details-empower{
	color: #919191;
	height: 44px;
	line-height: 44px;
	margin-top: 0px !important;
}
.article-details-share{
	color: #777;
}
.article-details-love span{
	display: inline-block;
	width: 22px;
	height: 19px;
	vertical-align: middle;
	background: url("../images/heart.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/heart.png*/ no-repeat 0px 0px;
}
.article-details-love span:hover,.article-details-love span.active{
	background-position: 0 -36px;
}
.artile-details-collect span{
	display: inline-block;
	width: 22px;
	height: 21px;
	vertical-align: middle;
	background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -120px;
}
.share-border{
	border-bottom: 1px dashed #dde2e7;
}
.article-details-friends{
	padding: 0 15px;
	border-radius: 20px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #db6d4b;
}
.article-details-friends span{
	display: inline-block;
	height: 22px;
	width: 20px;
	background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -210px;
	vertical-align: middle;
}
.article-details-weixin{
	padding: 0 15px;
	border-radius: 20px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #1e9933;
}
.article-details-weixin span{
	display: inline-block;
	height: 21px;
	width: 24px;
	background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -180px;
	vertical-align: middle;
}
.article-details-weibo{
	padding: 0 15px;
	border-radius: 20px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #d52b2a;
}
.article-details-weibo span{
	display: inline-block;
	height: 24px;
	width: 24px;
	background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -150px;
	vertical-align: middle;
}
.share-ewm{
	padding: 22px 65px;
	background-color: #f3f3f3;
	line-height: 1.8;
	color: #5e5e5e;
}
.share-ewm img{
	width: 82px;
	margin-right: 18px;
	vertical-align: middle;
}
.share-ewm h3{
	color: #db6d4b;
	font-weight: normal;
}
.article-details-recommend h4{
	color: #777777;
	font-weight: normal;
	text-align: left;
	font-size: 14px;
	width: 280px;
	height: 42px;
	overflow: hidden;
}
.article-details-recommend h3{
	color: #474747;
	font-weight: normal;
	line-height: 1;
}
.article-details-recommend ul li{
	float: left;
	width: 280px;
	border:none;
	padding: 0;
}
.article-details-recommend ul li img{
	width: 278px;
	height: 198px;
	border: 1px solid #F1F1F1;
}
.article-details-review h2{
	border: none;
	line-height: 2;
	font-weight: normal;
	color: #474747;
}
.article-details-review textarea{
	height: 90px;
	border: 1px solid #e2e2e2;
}
.article-details-review button{
	width: auto;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #db6d4b;
	box-shadow: 0 0 0 0;
	padding:0 30px;
	border-radius: 20px;
}
.article-review-details>p:first-child{
	color: #474747;
	font-weight: normal;
	line-height: 1;
}
.article-review-num{
	color: #db6d4b;
}
.article-review-all{
	padding: 20px;
	border: 1px solid #eeeeee;
	background-color: #f9f9f9;
}
.article-review-all ul li{
	border: 0px;
	padding: 0;
}
.article-review-user{
	width: 62px;
	text-align: center;
}
.article-review-user img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	border: 1px solid #c6c6c6;
}
.article-review-user span{
	color: #666666;
}
.article-review-triangle{
	border-color: #fff #fff transparent transparent;
	border-width: 8px 8px 8px 8px;
	border-style: solid;
}
.article-review-content{
	width: 694px;
	padding:24px 28px;
	background-color: #fff;
	color: #303030;
	line-height: 1.5;
}
.article-review-content span{
	color: #999;
}
.article-review-content span a{
	color: #999;
}
.article-details-hot{
	border-top: 2px #09263c solid;
	background-color: #f9f9f9;
	padding:15px;
}
.article-details-hot h2{
	line-height: 1.5;
	color: #777;
	font-weight: normal;
}
.article-details-author{
	border-bottom: 1px dashed #d3dae1;
}
.article-author-pic img{
	width: 90px;
	height: 90px;
	border-radius: 45px;
	border: 1px solid #c6c6c6;
}
.article-author-vip{
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 0 10px;
	background-color: #db6c4b;
	border-radius: 10px;
	color: #fff;
}
.article-author-name{
	color: #474747;
}
.article-author-name .hot-rank-icon{
	display: inline-block;
}
.article-author-fans{
	color: #777;
}
.article-author-fans span:first-child{
	color: #393939;
	font-weight: bold;
	line-height: 1.8;
}
.article-author-fans span{
	display: block;
	text-align: center;
	border-right: 1px solid #e2e2e2;
	line-height: 1;
}
.article-author-money{
	color: #777;
}
.article-author-money span:first-child{
	color: #393939;
	font-weight: bold;
	line-height: 1.8;
}
.article-author-money span{
	display: block;
	text-align: center;
	line-height: 1;
}
.article-author-focus{
	padding: 0 18px;
	height: 22px;
	line-height: 22px;
	background-color: #7ec5ca;
	border-radius: 20px;
	color: #fff;
}
.article-author-message{
	padding: 0 18px;
	height: 22px;
	line-height: 22px;
	background-color: #e2e2e2;
	border-radius: 20px;
	border-radius: 20px;
	color: #393939;
}
.article-author-info{
	clear: both;
	color: #777;
}
.article-details-new h2{
	color: #474747;
	font-weight: normal;
}
.article-details-new ul li{
	height: 38px;
	overflow: hidden;
	padding-left: 10px;
	background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -314px;
}
.article-details-new ul li:hover{
	padding-left: 10px;
	background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -274px;
}
.article-details-new ul li a:hover{
	color: #db6d4b;
}
/*æœç´¢ç»“æžœé¡µ*/
.article-search-btn{
	width: 650px; 
	margin: 0 auto;
	line-height: 40px;
	font-weight: 400;
}
.article-search-btn input[type="search"]{
	width: 520px;
	height: 40px;
	padding: 0;
	margin: 0;
	padding-left:20px;
	background-color: #f1f1f1;
	border: 0px;
	border-radius:40px 0 0 40px;
}
.article-search-btn input[type="submit"]{
	width: 100px;
	height: 40px;
	padding: 0;
	margin: 0;
	background-color: #db6d4b;
	text-align: center;
	border: 0px;
	color: #fff;
	border-radius: 0 20px 20px 0;
}
.article-search-keywords{
	background-color: #f1f1f1;
	line-height: 1;
	padding: 20px 28px 30px 28px;
}
.article-search-keywords a:hover{
	color: #db6d4b;
}
/*æ ‡ç­¾æ±‡æ€»é¡µé¢*/

.type-all {
	text-align: center;
	margin-top: -10px;
}
.type-all li {
	float: left;
	padding: 9px;
	width: 98px;
	height: 54px;
	border-top: none;
}
.type-all li.first {
	width: 89px;
	padding-left: 0;
}
.type-all li.last {
	width: 89px;
	padding-right: 0;
}
.type-all li a {
	width: 80px;
	height: 36px;
	font-size: 16px;
	line-height: 36px;
	display: inline-block;
	border: 1px solid #e2e2e2;
}
.type-all li a:hover, .type-detail li a:hover, .tag-hot li a:hover {
	background: #db6d4b;
	color: #fff;
}
.type-detail .type-detail-item {
	margin-top: 20px;
}
.type-detail .item-title {
	padding-bottom: 6px;
	border-bottom: 1px solid #e2e2e2;
}
.type-detail .title-type {
	width: 26px;
	height: 26px;
	font-size: 16px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	background: #db6d4b;
	border-radius: 13px;
}
.type-detail .item-content {
	padding-top: 9px;
}
.type-detail li, .tag-hot li {
	width: auto;
	float: left;
	height: 48px;
	padding: 6px 12px 6px 0;
	border-top: none;
}
.type-detail li a, .tag-hot li a {
	height: 36px;
	padding: 0 9px;
	font-size: 14px;
	line-height: 36px;
	display: inline-block;
	background: #f9f9f9;
	border: 1px solid #e2e2e2;
}
.type-detail li a:after, .tag-hot li a:after {
	content: ' +';
}
.tag-hot {
	background: #f1f1f1;
	padding: 20px 10px 10px 10px;
}
.tag-hot h3 {
	padding-bottom: 6px;
	border-bottom: 2px solid #e2e2e2;
}
.tag-hot ul {
	padding: 12px 0 0 3px;
}
/*å¹»ç¯ å¸¸ç´«é¹ƒ 2015-05-26*/

.picBtnTop{
	width:1200px;
	height:381px;
	position:relative;
	overflow:hidden;
	zoom:1;
	color: #fff;
	text-align: left;
}
.picBtnTop a{
	color: #fff;
}
.picBtnTop h2{
	font-size: 14px;
	line-height:1.5;
	text-align: left;
}
.picBtnTop .hd{
	width:300px;
	height:381px;
	position:absolute;
	right:0px;
	overflow:hidden;
}
.picBtnTop .hd ul li{
	width:300px;
	height: 127px;
	text-align:center;
	cursor:pointer;
}
.picBtnTop .hd ul .hd-intro1>div{
	background:url("../images/tab-bg.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/tab-bg.png*/ repeat;
	padding: 25px 23px;
	height: 126px;
	overflow: hidden;
}
.picBtnTop .hd ul .hd-intro1{
	border-bottom: 1px solid #090909;	
}
.picBtnTop .hd ul .hd-intro1>div:hover{
	background:url("../images/tab-bg-hover.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/tab-bg-hover.png*/ repeat;
}
.picBtnTop .hd ul .hd-intro2>div{
	background:url("../images/tab-bg.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/tab-bg.png*/ repeat;
	padding: 25px 23px;
	height: 125px;
	overflow: hidden;
}
.picBtnTop .hd ul .hd-intro2{
	border-top: 1px solid #3b3b3b;
	border-bottom: 1px solid #090909;	
}
.picBtnTop .hd ul .hd-intro2>div:hover{
	background:url("../images/tab-bg-hover.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/tab-bg-hover.png*/ repeat;
}
.picBtnTop .hd ul .hd-intro3>div{
	background:url("../images/tab-bg.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/tab-bg.png*/ repeat;
	padding: 25px 23px;
	height: 126px;
	overflow: hidden;
	border-top: 1px solid #3b3b3b;
}
.picBtnTop .hd ul .hd-intro3>div:hover{
	background:url("../images/tab-bg-hover.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/tab-bg-hover.png*/ repeat;
}
.picBtnTop .hd ul .hd-intro3{
	border-top: 1px solid #3b3b3b;	
}
.picBtnTop .hd ul li>div img{
	float: left;
	width: 75px;
	height: 75px;
	margin-right: 15px;
}
.picBtnTop .hd ul li.on{
	backgroundï¼color: #000;
}
.picBtnTop .bd{
	width:900px;
	height:381px;
	position:relative;
}
.picBtnTop .bd li{
	position:relative;
	zoom:1;
	vertical-align:middle;
}
.picBtnTop .bd li .pic{
	position:relative;
	z-index:0;
}
.picBtnTop .bd li .pic img{
	width:900px;
	height:381px;
	vertical-align:bottom;
}
.picBtnTop .bd li .bg{
	width:900px;
	height:64px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:1;
	background:#000;
	filter:alpha(opacity=60);
	opacity:0.6;
}
.picBtnTop .bd li .title{
	width:900px;
	height:64px;
	line-height:64px;
	left:0; bottom:0;
	position:absolute;
	z-index:2;
	font-size: 24px;
}
.picBtnTop .bd li .title a{
	color:#fff;
	padding-left:15px;
}
.hd-introword{
	width:164px;
	height: 75px;
}
.hd-introword>div{
	left: 0;
	bottom: 0;
	width: 100%;
}
.hd-introword .new-article-tip{
	width: 15px;
	height: 17px;
    background: url("../images/icon.png")/*tpa=http://img.iheima.com/templates/iheima/sprint1/images/icon.png*/ no-repeat 0px -358px;
    vertical-align: middle;
}
/*æ–‡ç« è¯¦ç»†é¡µï¼Œå¼¹å‡ºå¾®ä¿¡äºŒç»´ç */
.weixin-out{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}
.weixin-out-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .7);
}
.weixin-out-container{
	position: absolute;
	padding: 35px 65px;
	top: 50%;
	margin-top: -177px;
	left: 50%;
	margin-left: -210px;
	background-color: #fff;
	border-radius: 10px;

}
.weixin-out-container p{
	color: #000;
	font-size: 12px;
	text-align: center;
}
.weixin-out-container img{
	padding: 36px 80px;
}
.weixin-out-hide{
	display: none;
}
.weixin-out-container #fenxiang{
	font-size: 18px;
	border-bottom: solid 1px gray;
	padding-bottom: 3px;
}
.page{
    margin: 0 auto;
}
.article-page .page td a{
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    color: #303030;
}
.article-page .page td a:hover, .article-page .page td a.now{
    color: #fff;
    border-radius: 5px;
   background-color: #fa6a2c;
}
.article-page .page td{
    display: inline-block;
    text-align: center;
    border: 1px solid #d8d8d8;
    padding: 0;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 14px;
    word-spacing: 0px;
    background-color: #f5f5f5;
}
.article-page .page td:hover{
    border: 1px solid #fa6a2c;
   background-color: #fa6a2c;
}

/*åŠ å…¥æˆ‘ä»¬å¼¹å‡ºå±‚*/
.join_us_weixin{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}
.weixin-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .3);
}
.weixin-container{
    position: fixed;
    padding: 20px 60px;
    top: 150px;
    left: 50%;
    margin-left: -264px;
    background-color: #fff;
    border-radius: 10px;

}
.weixin-container p{
    color: #000;
    font-size: 18px;
    text-align: center;
}
.weixin-container img{
    padding: 50px 80px;
}
.weixin-hide{
    display: none;
}