	
	
	
	<!--<script src="/javascripts/require.js" type="text/javascript" defer async="true"  charset="utf-8"></script>-->
	<!--<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>-->
	<!--<script type="text/javascript" src="/libs/art-template/lib/template-web.js"></script>-->
	<!--<script src="/libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>-->
	<!--<script src="/javascripts/plugins/jquery.cookie.js" type="text/javascript"></script>-->
	<!--<script src="/javascripts/script.js" type="text/javascript" ></script>-->
	<!--<script src="/javascripts/require.js" data-main="/javascripts/config" type="text/javascript" ></script>-->
	<%include ../components/backTop.html%>
	</body>
</html>


