<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title><%=title%></title>
		<link rel="stylesheet" type="text/css" href="/libs/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/page.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
		<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/libs/art-template/lib/template-web.js"></script>
		<script src="/javascripts/require.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="width-limit">
			<!-- Logo -->
			<a class="logo" href="/"><img src="/images/logo-js.png" alt="Logo"></a>

			<!-- 登录之后 -->
			<%if(user){%>
				<a class="btn sign-in" id="logout" href="javascript:;">退出</a>
				<span class="btn sign-in">您好,<a href=""><%=user.username%></a></span>
			<%}else{%>
				<!--未登录显示登录/注册/-->
				<a class="btn sign-up" href="/regist">注册</a>
				<a class="btn sign-in" href="/login">登录</a>
			<%}%>
			
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu" aria-expanded="true">
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			          <span class="icon-bar"></span>
			        </button>
				</div>
				<div class="navbar-collapse collapse in" id="menu" aria-expanded="true">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="/">
								<span class="menu-text">首页</span><i class="iconfont ic-navigation-discover menu-icon"></i>
							</a>
						</li>
						<!--<li class="">
							<a class="app-download-btn" href="/apps"><span class="menu-text">下载App</span><i class="iconfont ic-navigation-download menu-icon"></i></a>
						</li>-->
						<li class="search">
							<form action="/search" method="GET">
								<!--<input name="utf8" type="hidden" value="✓">-->
								<input type="text" name="wd" id="wd" value="" placeholder="搜索" class="search-input">
								<button type="submit" class="search-btn" ><i class="fa fa-search search_ic"></i></button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
