<!--友情链接管理-->
<div class="bg-light lter b-b wrapper-md">
   <h1 class="m-n font-thin h3">分类管理</h1>
</div>
<div class="wrapper-md">
	<div class="clearfix">
		 <div class="col-md-6">
	        <div class="panel panel-color panel-primary">
	            <div class="panel-heading">
	                <h1 class="panel-title">分类列表</h1>
	            </div>
	            <div class="panel-body">
	               <div class="btn-group dropdown open" dropdown="" ng-repeat="item in categorys" style="margin-right: 10px;">
			          <button class="btn btn-success" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
			          	{{item.name}}<span class="caret"></span>
			          </button>
			          <ul class="dropdown-menu">
			            <li><a href="javascript:void(0);" ng-click="revise(item)">修改</a></li>
			            <li><a href="javascript:void(0);" ng-click="remove(item);">删除</a></li>
			          </ul>
			        </div>
	            </div>
	        </div>
	    </div>
        <div class="col-md-12" style="padding: 20px;">
            <div class="panel panel-default">
	            <div class="panel-body">
	                <form id="cform" name="cform" class="form-inline" role="form">
	                    <input type="hidden" id="mid">
	                    <div class="form-group">
	                        <input type="text" class="form-control" ng-model="category.name" placeholder="请输入分类名称" required="required">
	                    </div>
	                    <button ng-if="isNew" type="button" class="btn btn-success" ng-disabled="cform.$invalid" ng-click="add();">保存分类
	                    </button>
	                    <button ng-if="!isNew" type="button" class="btn btn-success" ng-click="add();">更新分类
	                    </button>
	                </form>
	            </div>
	        </div>
        </div>
	</div>
</div>

