<div id="demo1" class="picBtnTop center">
	<div class="hd">
		<ul>
			<%banners.forEach(function(value,i){%>
				<li class="hd-intro1">
					<div>
						<a href="<%=value.url%>"><img src="<%=value.imgAdress%>"></a>
						<div class="hd-introword f-l pos-r">
							<h2><a href="" ><%=value.dec%></a></h2>
							<div class="pos-a"> <span class="f-l"><%=moment(value.create_time).format('YYYY-MM-DD')%></span> </div>
						</div>
					</div>
				</li>
			<%})%>
		</ul>
	</div>
	<div class="bd">
		<ul>
			<%banners.forEach(function(value,i){%>
				<li>
					<div class="bg"></div>
					<div class="pic">
						<a href="<%=value.url%>"> <img src="<%=value.imgAdress%>" /></a>
					</div>
					<div class="title">
						<a href="<%=value.url%>"><%=banners.dec%></a>
					</div>
				</li>
			<%})%>
		</ul>
	</div>
</div>