<header class="w-1200 center">
	<a href="/"><img src="/images/logo1.png" width="198" height="79"></a>
	<div class="f-r header-relo">
		<span id="ihmlogin"><a href="/login" class="login_regist1_tmp">登录</a></span>｜ <span id="ihmreg"><a href="/regist"  >注册</a></span> </div>
	<div class="f-r header-search">
		<form id="head_search" name="head_search" action="/search" method="GET">
			<input type="hidden" name="app" value="search">
			<input type="hidden" name="controller" value="index">
			<input type="hidden" name="action" value="search">
			<input type="hidden" id="type" name="type" value="all">
			<input type="search" id="head_wd" name="wd" placeholder="请输入要搜索的文章标题／关键字" value="">
			<input type="submit" value="">
		</form>
	</div>
</header>
<script>
	/*$(function() {
		$("#head_search").submit(function() {
			var val = $("#head_wd").val();
			if(!(tt.length)) {
				return false;
			}
		})
	});*/
</script>
<nav class="top-nav mb-30">
	<div class="w-1200 center">
		<ul id="nav_ul">
			<li>
				<a href="/">首页</a>
			</li>
			<li>
				<a href="news.htm">新闻</a>
				<ul>
					<li>
						<a href="news.htm">访谈</a>
					</li>
					<li>
						<a href="news.htm">攻略</a>
					</li>
					<li>
						<a href="news.htm">官方</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="saishi.htm">文章</a>
			</li>
			<li>
				<a href="guanyu.htm">关于</a>
			</li>
			<li>
				<a href="lianxi.htm">联系</a>
			</li>

		</ul>
		<div class="w-140 nav-msg"> <span></span>
			<a href="tougao.htm">我要留言</a>
		</div>
	</div>
</nav>