<!--头部-->
<%include head.html%>
<!--banner -->
<%include banner.html%>
<!--banner /-->

<div class="column w-1200 center mt-30 clearfix pb-60">
	<div class="col-l-main f-l list_item">
		<h2><span>推荐</span>文章</h2>
		<ul class="clearfix article_list" id="article_list">
			<%articles.forEach(function(value,i){%>
			<li class="clearfix">
				<div class="new-img-list pos-r f-l mr-18 clearfix">
					<a href="/blog/<%=value.bId%>"> <img src="/images/hd3.jpg" />
						<a href="/blog/<%=value.bId%>" target="_blank"> 
							<%if(value.category){%>
								<span class="pos-a f14"><%=value.category.name%></span> 
							<%}%>
						</a>
					</a>
				</div>
				<div class="new-txt-list f-l w-572">
					<h3 class="f20"><a href="/blog/<%=value.bId%>"><%=value.title%></a></h3>
					<div class="new-user-info mt-5">
						<div class="new-user-name mr-40"> <span>作者：<a href="/blog/<%=value.bId%>" ><%=value.author%></a></span> </div>
						<span class="new-article-time"></span> <span><%=moment(value.create_time).format('YYYY-MM-DD')%></span> </div>
					<div class="new-article-intro f14  mt-20">
						<p><%-value.content.substring(0,100)%>...</p>
					</div>
					<div class="mt-28">
						<div class="new-article-tag f-l">
							<span></span>
							<span class="mr-20">
								<%if(value.tags.length>0){%>
									<%value.tags.forEach(function(tag){%>
										<%if(tag){%>
											<a href="">
												<%=tag.name%>
											</a>
										<%}%>
									<%})%>			
								<%}%>					
							</span>
							<span class="mr-20"><i class="fa fa-thumbs-o-up"></i> <%=value.likes%></span>
							<span class="mr-20"><i class="fa fa-eye"></i> <%=value.pv%></span> 
						</div>
					</div>
				</div>
			</li>
			<%})%>
		</ul>
		<!--查看更多-->
		<!--<div class="new-article-more" style='margin-top:30px'>
			<a href="">查看更多</a>
		</div>-->
		
		<!--分页区-->
		<div class="page_box" style="text-align: center;">
			<ul class="pagination" id="pagination"></ul>
		</div>


	</div>
	<div class="col-r-extra f-r w-300">
		<div class="new-mag clearfix">
			<h2 class="f22"><span>最新</span>文章</h2>
			<%if(newArticle){%>
				<div class="new-mag-info mt-20">
					<a href="/blog/<%=newArticle.bId%>"><img src="/images/ss1.jpg"></a>
					<div class="new-mag-intro f12 p1-14">
						<h6 class="mt-6"><%=newArticle.title%></h6>
						<h6 class="mt-5">发布时间：<span><%=moment(newArticle.create_time).format('YYYY-MM-DD')%></span></h6>
						<a href="/blog/<%=newArticle.bId%>" class="new-mag-online f14 mt-15" target='_blank'>查看详情</a>
					</div>
				</div>
			<%}%>
		</div>
		
		<div class="hot-article mt-20 clearfix">
			<h2 class="f24"><span>热门</span>文章</h2>
			<ul>
				<%hot.forEach(function(value,i){%>
				<li class="clearfix">
					<div class="f-l">
						<a href="/blog/<%=value.bId%>" class="f-l" target='_blank'><img src="/images/hd1.jpg"></a>
					</div>
					<div class="f-l text_right">
						<h3 class="f14"><a href="/blog/<%=value.bId%>" ><%=value.title%></a></h3>
						<span class="hot-article-time f-l f13"><%=moment(value.create_time).format('YYYY-MM-DD')%></span>
					</div>
				</li>
				<%})%>
			</ul>
		</div>

	</div>
</div>


<script type="text/javascript">
	$(function(){
		var pagehtml=page({
			pagecount:<%=total%>,
			pagesize:<%=pagesize%>,
			currentpage:<%=currentpage%>
		});
		
		//分页
		$("#pagination").html(pagehtml);
	})
	
</script>
<!--底部-->
<%include foot.html%>
		
		
