<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta charset="utf-8">
		<link rel="alternate" media="handheld" href="#" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/login_regist.css"/>
		<title><%=title%></title>
		
	</head>
	<body>
		<form id="loginForm" onsubmit="return false;">
			<div class="form-group">
				<label for="">用户名</label>
				<input type="text" name="username" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="">密码</label>
				<input type="password" name="password" class="form-control"/>
			</div>
			<div class="form-group">
				<input id="login_submit" type="submit" value="提交" />
			</div>
		</form>
		
		<script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/jquery.SuperSlide.2.1.1.js"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>