
	<%include ./layout/head.html%>
	<div class="container index">
		<div class="row">
			<div class="col-xs-8 main">
				<!--类型-->
				<div class="category_collection">
					<%categorys.forEach(function(cate){%>
					<a class="collection" target="_blank" href="/category/<%=cate.name%>">
						<span class="category_name"><%=cate.name%> <label><%=cate.total%></label></span>
					</a>
					<%})%>
					<a class="more-collection" target="_blank" href="">
					        更多分类 <i class="fa fa-angle-right"></i>
					</a>
				</div>
				<!--/ 类型-->
				
				<!--文章列表-->
				<div class="article_list_container">
					<ul class="article_list">
						<%articles.forEach(function(value,i){%>
							<%var cls=''%>
							<%if(value.imgurl&&value.imgurl.length){%>
								cls='have-img'
							<%}%>
						<li class="<%=cls%>">
							<%if(value.imgurl&&value.imgurl.length){%>
							<a class="wrap-img" href="/blog/<%=value.bId%>" target="_blank">
						      <img src="<%=value.imgurl%>">
						    </a>
						  	<%}%>
						    <div class="content">
								<div class="author">
									<div class="name">
										<a class="blue-link" href="javascript:;"><%=value.author%></a>
										<span class="time"><%=moment(value.create_time).format('YYYY-MM-DD')%></span>
									</div>
								</div>
								<a class="title" target="_blank" href="/blog/<%=value.bId%>"><%=value.title%></a>
								<p class="abstract">
									<%-value.content.substring(0,100)%>...
								</p>
								<div class="meta">
									<%if(value.category){%>
									<a class="art_category" target="_blank" href="/category/<%=value.category.name%>"><%=value.category.name%></a>
									<%}%>
									<a class="fa fa-eye"> <%=value.pv%></a> 
									<a class="fa fa-thumbs-o-up"> <%=value.likes%></a>
								</div>
							</div>
						</li>
						<%})%>
					</ul>
				</div>
				
				<div class="page_box" style="text-align: center;">
					<ul class="pagination" id="pagination" data-pagesize="<%=pagesize%>" data-total="<%=total%>" data-curp="<%=currentpage%>"></ul>
				</div>

				<!--/ 文章列表-->
			</div>
		</div>
	</div>
	
	
	<script src="/javascripts/page.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			var pagehtml=page({
				pagecount:parseInt($('#pagination').data('total')),
				pagesize:parseInt($('#pagination').data('pagesize')),
				currentpage:parseInt($('#pagination').data('curp'))
			});
			//分页
			$("#pagination").html(pagehtml);
		})
	</script>
	<%include ./layout/foot.html%>
	