<%include ./layout/head.html%>
	
	<div class="post">
		<div class="article">
			<h1 class="title"><%=article.title%></h1>
			<div class="art_info">
				<span class="tag">作者</span>
				<span class="name">
					<%=article.author%>
				</span>
				<div class="meta">
               <span class="publish-time"><%=moment(article.create_time).format('YYYY-MM-DD')%></span>
            	<span class="views-count">阅读 <%=article.pv%></span>
            	<span class="comments-count">评论 <%=cTotal%></span>
            	<span class="likes-count">喜欢  <%=article.likes.length%></span></div>
			</div>
			<div class="article_content">
				<%-article.tagcontent%>
			</div>
			<div class="article_foot clearfix">
				
				<span class="pull-left">上一篇文章：
					<%if(prevArticle){%>
						<a href="/article/<%=prevArticle.bId%>"><%=prevArticle.title%></a>
					<%}else{%>
						<a href="javascript:void(0);">无</a>
					<%}%>
				</span>
				<span class="pull-right">下一篇文章：
					<%if(nextArticle){%>
						<a href="/article/<%=nextArticle.bId%>"><%=nextArticle.title%></a>
					<%}else{%>
						<a href="javascript:void(0);">无</a>
					<%}%>
				</span>
			</div>
		</div>
		<%include comment.html%>
	</div>
	
	
	<%include ./layout/foot.html%>
