<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate" media="handheld" href="#" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/login_regist.css"/>
		<title><%=title%></title>
		
	</head>
	<body>
		<form id="registForm" method="POST" onsubmit="return false;">
			<div>
				<label for="">用户名</label><input type="text" name="username"/>
			</div>
			<div>
				<label for="">邮箱</label><input type="email" name="email"/>
			</div>
			<div>
				<label for="">密码</label><input type="password" name="password"/>
			</div>
			<div>
				<input id="regist_submit" type="submit" value="提交" />
			</div>
		</form>
		
		
		<script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/jquery.SuperSlide.2.1.1.js"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>