<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%=title%></title>
	</head>
	<body>
		
		<form id="word_form" onsubmit="return false;">
			<label for="">内容</label>
			<textarea name="content" rows="" cols=""></textarea>
			
			<input type="submit" id="word_submit" value="提交" />
		</form>
		
		
		<script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="/javascripts/jquery.SuperSlide.2.1.1.js"></script>
		<script src="/javascripts/script.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
