<form ng-controller="editorCtrl" class="col-md-8 form-horizontal" method="post" id="Article_form" enctype='multipart/form-data' >
	<p class="text-center">发表文章</p>
	<div class="form-group clearfix">
		<label class="col-sm-2 control-label">标题</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="article.title" name="article_title" placeholder="请输入文章标题">
		</div>
	</div>

	<div class="form-group clearfix">
		<label class="col-sm-2 control-label">类型</label>
		<div class="col-sm-10" >
		    <ui-select ng-model="article.type" theme="bootstrap" >
	            <ui-select-match placeholder="请选择文章的标签">{{$select.selected.name}}</ui-select-match>
	            <ui-select-choices repeat="item in ArticleType">
	              <div ng-bind-html="item.name"></div>
	            </ui-select-choices>
	        </ui-select>
			<!--<select name="article_type" class="form-control">
				<option value="IT技术">IT技术</option>
				<option value="网络热点">网络热点</option>
			</select>-->
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-sm-10 col-md-offset-2 col-sm-offset-2">
			<input type="button" id="publish_btn" class="form-control btn-info" value="发表" ng-click="save()">
		</div>
	</div>
	
	<div class="form-group clearfix">
		<label class="col-sm-2 control-label">上传封面</label>
		<div class="col-sm-3">
			<input type="file" id="resource" name="resource">
			<p id="showimgurl"></p>
		</div>
	</div>

	<div class="col-sm-10 col-sm-offset-2">
		<script id="editor" type="text/plain"></script>
	</div>
	
</form>