<div class="modal-header">
    <h3 class="modal-title">更新</h3>
</div>
<div class="modal-body">
   <form>
   		<div class="form-group clear">
   			<label class="col-lg-2 control-label">标题</label>
   			<div class="col-lg-10">
                <input type="text" class="form-control" ng-model="up_item.title">
            </div>
   		</div>
   		<div class="form-group clear">
   			<label class="col-lg-2 control-label">类型</label>
   			<div class="col-lg-10">
                <input type="text" class="form-control" readonly="readonly" ng-model="up_item.type">
            </div>
   		</div>
   </form>
   <script id="up_editor" type="text/plain"></script>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="update(up_item.bId)">Update</button>
</div>