<form ng-controller="editorCtrl" class="col-md-8 form-horizontal" method="post" id="Article_form" enctype='multipart/form-data' >
	<p class="text-center">发表文章</p>
	<div class="form-group clearfix">
		<label class="col-sm-2 control-label">标题</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" ng-model="article.title" name="article_title" placeholder="请输入文章标题">
		</div>
	</div>

	<div class="form-group clearfix">
		<label class="col-sm-2 control-label">类型</label>
		<div class="col-sm-10" >
		    <ui-select ng-model="article.type" theme="bootstrap" >
	            <ui-select-match placeholder="请选择文章的标签">{{$select.selected.name}}</ui-select-match>
	            <ui-select-choices repeat="item in ArticleType">
	              <div ng-bind-html="item.name"></div>
	            </ui-select-choices>
	       </ui-select>
		</div>
	</div>
	<div class="form-group clearfix">
		<div class="col-sm-10 col-md-offset-2 col-sm-offset-2">
			<input type="button" id="publish_btn" class="form-control btn-info" value="发表" ng-click="save()">
		</div>
	</div>
	
	<div class="form-group clearfix">
		<label class="col-sm-2 control-label">上传封面</label>
		<div class="col-sm-3">
			<input type="file" id="resource" name="resource">
			<p id="showimgurl"></p>
		</div>
	</div>

	<div class="col-sm-10 col-sm-offset-2">
		<script id="editor" type="text/plain"></script>
	</div>
	
</form>
 <!-- 上传公司照片 -->
<!--<div class="row" nv-file-drop="" uploader="uploaderPhotos" filters="queueLimit, customFilter">
    <div class="col-sm-12 col-xs-12">
        <div class="form-group form-group-xs ">
            <label class="col-sm-1_5 col-xs-3  control-label ">公司照片:<br />（最多5张）</label>
            <div class="col-sm-2 col-xs-12 " ng-repeat="item in uploaderPhotos.queue">
                <div class=" ddh-panel2  ddh-width-full ddh-height-100"  ng-show="uploaderPhotos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                <input type="text" ng-model="item.file.Desc" class=" form-control-static"  placeholder="请输入描述文本"/>
                <a href="#" class="" ng-click="uploaderPhotos.funcRemoveItem(item)"><span class="glyphicon glyphicon-trash"></span></a>
                <strong ng-bind="item.file.name"></strong>
            </div>
            <div class="col-sm-2 col-xs-12 ">
                <input id='hiddenFilePhotos' type="file" nv-file-select="" uploader="uploaderPhotos" ng-show="" multiple />
                <button class=" ddh-panel2 ddh-width-full ddh-height-100" onclick="javascript: $('#hiddenFilePhotos').click();" ng-show="uploaderPhotos.AllowAdd">点击添加<br />公司照片</button>
            </div>

        </div>
    </div>
</div>-->
<!--<div class="hbox hbox-auto-xs hbox-auto-sm"  nv-file-drop="" uploader="uploader">
  <div class="col w-lg bg-light b-r bg-auto">
    <div class="wrapper-md dker b-b">
      <h3 class="m-n font-thin">Select files</h3>
    </div>
    <div class="wrapper-md">      
      <p>Multiple</p>
      <input type="file" nv-file-select="" uploader="uploader" multiple accept="image/*" />
    </div>
  </div>
  <div class="col">
    <div class="wrapper-md bg-light dk b-b">
      <span class="pull-right m-t-xs">Queue length: <b class="badge bg-info">{{ uploader.queue.length }}</b></span>
      <h3 class="m-n font-thin">Upload queue</h3>      
    </div>
    <div class="wrapper-md">
      <table class="table bg-white-only b-a">
          <thead>
              <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="item in uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                  <td ng-show="uploader.isHTML5">
                      <div class="progress progress-sm m-b-none m-t-xs">
                          <div class="progress-bar bg-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </td>
                  <td class="text-center">
                      <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                      <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                          Upload
                      </button>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                          Cancel
                      </button>
                      <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                          Remove
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
      <div>
        <div>
          <p>Queue progress:</p>
          <div class="progress bg-light dker" style="">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-addon btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <i class="fa fa-arrow-circle-o-up"></i> Upload all
        </button>
        <button type="button" class="btn btn-addon btn-warning" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
          <i class="fa fa-ban"></i> Cancel all
        </button>
        <button type="button" class="btn btn-addon btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <i class="fa fa-trash-o"></i> Remove all
        </button>
        <p class="text-muted m-t-xl">Note: upload.php file included, files will be uploaded to "src/js/controllers/uploads".</p>
      </div>
    </div>
  </div>
</div>-->
