<div class="col-md-12">
	<div ba-panel="" ba-panel-title="Editable Cells" ba-panel-class="with-scroll">
		<div class="panel with-scroll animated zoomIn" zoom-in="">
			<div class="panel-heading clearfix">
				<h3 class="panel-title">Editable Cells</h3></div>
			<div class="panel-body" ng-controller="articleCtrl">
				<div class="ng-scope">
					<div class="horizontal-scroll">
						<table class="table table-hover dataTable" ng-init="blo=true">
							<thead>
								<tr class="sortable">
									<th class="table-id sorting_desc" ng-click="blo=!blo">#</th>
									<th>Author</th>
									<th>Title</th>
									<th>Created</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in articlelist | orderBy:'time':blo |limitTo:limit" class="editable-tr-wrap ng-scope">
									
									<td class="table-id">{{$index+1}}</td>
									<td><span class="ng-scope ng-binding">{{item.author}}</span></td>
									<td><span class="ng-scope ng-binding">{{item.title.substring(0,10)}}</span></td>
									<td><span class="ng-scope ng-binding" ng-bind="format(item.time)"></span></td>
									<td>
										<a href="javascript:void(0);" class="table-link">
											<span class="fa-stack">
												<i class="fa fa-square fa-stack-2x"></i>
												<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
											</span>
										</a>
										<a href="javascript:void(0);" bbid="{{item.bId}}" ng-click="remove(item)" class="table-link danger remove">
											<span class="fa-stack">
												<i class="fa fa-square fa-stack-2x"></i>
												<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" class="text-center">
										<div>
											<pagination ng-change="pageChanged()" 
												items-per-page="3"
												total-items="bigTotalItems" 
												ng-model="bigCurrentPage" 
												max-size="maxSize" 
												class="pagination-sm m-t-none m-b" 
												boundary-links="true" 
												rotate="false" 
												num-pages="numPages"></pagination>
									    </div>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>