<div class="bg-light lter b-b wrapper-md">
   <h1 class="m-n font-thin h3">发布文章</h1>
</div>
<div class="wrapper-md">
	<div class="">
		<form action="" class="clearfix" method="post" id="Article_form" enctype='multipart/form-data'>
			<div class="form-group col-md-6">
                <input type="text" class="form-control" ng-model="article.title" name="article_title" placeholder="请输入文章标题（必须）" required="required" aria-required="true">
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="自定义访问路径，默认为文章id" name="slug" value="">
            </div>
            <div class="form-group col-md-6">
                <ui-select ng-model="article.type" theme="bootstrap" >
		            <ui-select-match placeholder="请选择文章的类型">{{$select.selected.name}}</ui-select-match>
		            <ui-select-choices repeat="item in ArticleType">
		              <div ng-bind-html="item.name"></div>
		            </ui-select-choices>
		        </ui-select>
            </div>
            <div class="form-group col-md-6">
				<input type="file" id="resource" name="resource">
			</div>
            <div class="form-group col-md-12">
            	<script id="editor" type="text/plain"></script>
            </div>
            <div class="text-right form-group col-md-12">
            	<button type="button" class="btn btn-warning waves-effect waves-light" onclick="subArticle('draft');">
                   	存为草稿
                </button>
                <button type="button" class="btn btn-primary waves-effect waves-light" ng-click="publish()">
                                        发表文章
                </button>
            </div>
		</form>
	</div>
</div>

<script type="text/javascript">
	if (uetrue) {
		uetrue.destroy();
	}
	uetrue=UE.getEditor('editor',{
        initialFrameHeight:300		//高度设置
    });
</script>