<ul id="backTop" class="list-unstyled">
	<li>
		<a class="scroll-h" title="回到顶部">
        <i class="fa fa-angle-up"></i>
		</a>
	</li>
	<li><a class="scroll-b" title="回到底部"><i class="fa fa-angle-down"></i></a></li>
	<li class="qr-site">
		<a href="javascript:void(0)" class="qr" title="本页二维码">
			<i class="fa fa-qrcode"></i>
			<span class="qr-img">
				<span id="output">
					<img class="alignnone" src="" alt="icon">
					<canvas width="150" height="150"></canvas>
				</span>
			</span>
		</a>
	</li>
</ul>
