@charset "utf-8";
.edui-editor-iframeholder{
	height: 300px !important;
}
.cur_poi{
	cursor: pointer;
}
.btn {
    border-radius: 5px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}
div{
	background: url() no-repeat center;
}
<div class="newyear_top">
.btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.editable-table-button {
    width: 70px;
    padding: 1px 5px;
}
.editable-table-button:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.list-group-item a {
	display: block;
	height: 100%;
   text-decoration: none;
}
.list-group-item.active a {
   color: #fff;
}